body{background-color: rgb(4, 36, 36);color: rgb(39, 214, 214);}
h1{background-color: rgb(117, 13, 13);color: rgb(252, 78, 78);border: solid;text-align: center;}
table{background-color: rgb(41, 4, 4);border: solid;}